--- Carthage ---
/Carthage/Build/

--- Xcode ---
DerivedData
xcuserdata
*.xccheckout
*.xcuserstate

--- OSX ---
.DS_Store

--- Intellij ---
.idea/
*.iml

--- Gradle ---
.gradle
build/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
